body{text-align:center;}
.container{margin:10px auto;}
#header{text-align:left;font-size:1.3em;padding:5px 0;}
#header h1{font-weight:bold;margin:0;padding-top:15px;}
#header h1 a{text-decoration:none;color:#333;}
#content{text-align:left;}
article{margin-right:0px;}
.post{font-size:1.2em;}
.post h3{margin:20px 0px 20px 0px;font-size:36px;}
.post .postbody{font-family:Georgia, "Times New Roman", serif;}
.post .meta{border-color:#E8E8E8;border-style:double none;border-width:3px;color:#696969;font-family:georgia;font-size:100%;font-style:italic;padding:5px 0;}
.post .meta a{color:#696969;text-decoration:none;}
.post .meta a:hover{color:#333;}
ul.pager{text-align:center;font-size:1.1em;}
ul.pager li{display:inline;margin-right:5px;}
ul.pager li.active a{text-decoration:none;}
ul.archive{list-style:none;}
ul.archive li{padding:0;margin:0;}
ul.links{margin-bottom:20px;padding:0;list-style:none;}
ul.links li{margin:0;padding:0;display:inline;}
ul.links li:after{content:' / ';}
ul.links li.first{font-weight:bold;}
ul.links li.last:after, ul.links li.first:after{content:'  ';}
#footer{border-color:#E8E8E8;border-style:double none;border-width:3px;color:#696969;font-family:georgia;font-size:15px;font-style:italic;line-height:30px;margin-top:0;padding-top:25px;}
.admin{padding:3px 5px;margin:5px 0;border:1px solid #aaa;background:#eee;}
#sidebar{margin-top:5px;text-align:left;margin-left:35px;}
#sidebar .sidebarbox{margin-bottom:10px;}
#sidebar .sidebarbox h4{font-weight:normal;font-size:18px;margin:10px 2px 2px;padding-bottom:5px;}
#sidebar .sidebarbox p{padding-left:2px;font-size:1.2em;}
#sidebar .sidebarbox ul{margin-left:1px;padding:2px;list-style-type:none;}
#sidebar .sidebarbox ul li{font-size:1.2em;padding:0 0 5px 0;}
a.icon-link{padding:1px 1px 1px 21px;text-align:left;}
a#feed-link{background:url("http://static.tjstein.com/images/feedicon16.png") center left no-repeat;}
a#flickr-link{background:url("http://static.tjstein.com/images/flickr-icon.png") center left no-repeat;}
a#tumblr-link{background:url("http://static.tjstein.com/images/tumblr-icon.png") center left no-repeat;}
a#github-link{background:url("http://static.tjstein.com/images/github-icon.png") center left no-repeat;}
a#twitter-link{background:url("http://static.tjstein.com/images/twitter-icon.png") center left no-repeat;}
a#linkedin-link{background:url("http://static.tjstein.com/images/linkedin-icon.png") center left no-repeat;}
a#aim-link{background:url("http://static.tjstein.com/images/aim-icon.png") center left no-repeat;}
a#gmail-link{background:url("http://static.tjstein.com/images/gmail-icon.png") center left no-repeat;}
a#skype-link{background:url("http://static.tjstein.com/images/skype-icon.png") center left no-repeat;}
.pagination{font-size:1.2em;width:99%;margin:10px;}
.pagination .previous_link{float:left;padding-left:25px;}
.pagination .next_link{float:right;padding-right:25px;}